
body {
    background-color: #EFC94C;
}
#header {
    border-radius:25px;
    background-color: #DF5A49;
}
#navagation {
    text-align:center;
    border-radius:25px;
    background-color: #45B29D;
}
#footer {
    background-color: #E27A3F;
    border-radius:25px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 25px;}
li {float: left;}
li a {display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;}
li a:hover {color: white;
  background-color: black;
  opacity: 0.3;}
h1 {color: #334D5C;}
h2 {color: #334D5C;}
h3 {color: #334D5C;}
h4 {color: #334D5C;}
h5 {color: #334D5C;}
h6 {color: #334D5C;}
p {color: #334D5C;}
